USE [Wedding]
GO
/****** Object:  Table [dbo].[AdminLogs]    Script Date: 5/18/2026 2:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[AdminID] [int] NOT NULL,
	[Action] [nvarchar](max) NOT NULL,
	[TargetTable] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Availability]    Script Date: 5/18/2026 2:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Availability](
	[AvailabilityID] [int] IDENTITY(1,1) NOT NULL,
	[VendorID] [int] NOT NULL,
	[UnavailableDate] [date] NOT NULL,
	[Reason] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[AvailabilityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 5/18/2026 2:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[PackageID] [int] NOT NULL,
	[BookingDate] [date] NOT NULL,
	[TotalPrice] [decimal](12, 2) NOT NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Packages]    Script Date: 5/18/2026 2:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Packages](
	[PackageID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceID] [int] NOT NULL,
	[PackageName] [nvarchar](100) NOT NULL,
	[Price] [decimal](12, 2) NOT NULL,
	[PackageDetails] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PackageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 5/18/2026 2:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[PaymentType] [nvarchar](20) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[PaymentSlipURL] [nvarchar](255) NULL,
	[TransactionID] [nvarchar](100) NULL,
	[PaymentStatus] [nvarchar](20) NULL,
	[PaidAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 5/18/2026 2:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 5/18/2026 2:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[VendorID] [int] NOT NULL,
	[ServiceName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/18/2026 2:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 5/18/2026 2:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[VendorID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[BusinessName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ProfilePictureURL] [nvarchar](255) NULL,
	[IsApproved] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdminLogs] ON 

INSERT [dbo].[AdminLogs] ([LogID], [AdminID], [Action], [TargetTable], [CreatedAt]) VALUES (1, 1, N'Approved Vendor ID 8 (Classic Rental)', N'Vendors', CAST(N'2026-05-17T23:12:14.893' AS DateTime))
INSERT [dbo].[AdminLogs] ([LogID], [AdminID], [Action], [TargetTable], [CreatedAt]) VALUES (2, 1, N'Updated Booking ID 1 status to Confirmed', N'Bookings', CAST(N'2026-05-17T23:12:14.893' AS DateTime))
SET IDENTITY_INSERT [dbo].[AdminLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Availability] ON 

INSERT [dbo].[Availability] ([AvailabilityID], [VendorID], [UnavailableDate], [Reason]) VALUES (4, 1, CAST(N'2026-06-02' AS Date), N'Already Booked for Wedding Event')
INSERT [dbo].[Availability] ([AvailabilityID], [VendorID], [UnavailableDate], [Reason]) VALUES (5, 1, CAST(N'2026-06-10' AS Date), N'Personal Holiday')
INSERT [dbo].[Availability] ([AvailabilityID], [VendorID], [UnavailableDate], [Reason]) VALUES (6, 3, CAST(N'2026-06-15' AS Date), N'Maintenance Day')
SET IDENTITY_INSERT [dbo].[Availability] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingID], [CustomerID], [PackageID], [BookingDate], [TotalPrice], [Status], [CreatedAt]) VALUES (1, 2, 1, CAST(N'2026-06-02' AS Date), CAST(250000.00 AS Decimal(12, 2)), N'Confirmed', CAST(N'2026-05-17T23:12:14.893' AS DateTime))
INSERT [dbo].[Bookings] ([BookingID], [CustomerID], [PackageID], [BookingDate], [TotalPrice], [Status], [CreatedAt]) VALUES (2, 3, 5, CAST(N'2026-06-20' AS Date), CAST(350000.00 AS Decimal(12, 2)), N'Pending', CAST(N'2026-05-17T23:12:14.893' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Packages] ON 

INSERT [dbo].[Packages] ([PackageID], [ServiceID], [PackageName], [Price], [PackageDetails]) VALUES (1, 1, N'Basic Wedding Photo', CAST(250000.00 AS Decimal(12, 2)), N'4 Hours, 150 edited photos, Digital delivery')
INSERT [dbo].[Packages] ([PackageID], [ServiceID], [PackageName], [Price], [PackageDetails]) VALUES (2, 2, N'Bridal Makeup Standard', CAST(120000.00 AS Decimal(12, 2)), N'1 Time Makeup & Hair styling')
INSERT [dbo].[Packages] ([PackageID], [ServiceID], [PackageName], [Price], [PackageDetails]) VALUES (3, 3, N'Premium Cinematic Photo', CAST(500000.00 AS Decimal(12, 2)), N'Full Day, 300+ photos, Cinematic Highlights Video')
SET IDENTITY_INSERT [dbo].[Packages] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [BookingID], [Amount], [PaymentType], [PaymentMethod], [PaymentSlipURL], [TransactionID], [PaymentStatus], [PaidAt]) VALUES (1, 1, CAST(250000.00 AS Decimal(12, 2)), N'Full', N'KBZPay', NULL, N'TXN99887766', N'Success', CAST(N'2026-05-17T23:12:14.907' AS DateTime))
INSERT [dbo].[Payments] ([PaymentID], [BookingID], [Amount], [PaymentType], [PaymentMethod], [PaymentSlipURL], [TransactionID], [PaymentStatus], [PaidAt]) VALUES (2, 2, CAST(50000.00 AS Decimal(12, 2)), N'Deposit', N'WaveMoney', NULL, N'WAVE11223344', N'Pending', CAST(N'2026-05-17T23:12:14.907' AS DateTime))
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ReviewID], [BookingID], [Rating], [Comment], [CreatedAt]) VALUES (1, 1, 5, N'ဓာတ်ပုံဆရာ စိတ်ရှည်ပြီး ပုံတွေလည်း သေჩာပြင်ပေးပါတယ်ရှင်။ အရမ်းကျေနပ်တယ်!', CAST(N'2026-05-17T23:12:14.907' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceID], [VendorID], [ServiceName]) VALUES (1, 1, N'Photography')
INSERT [dbo].[Services] ([ServiceID], [VendorID], [ServiceName]) VALUES (2, 2, N'Makeup & Hair')
INSERT [dbo].[Services] ([ServiceID], [VendorID], [ServiceName]) VALUES (3, 3, N'Photography')
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PasswordHash], [Role], [Phone], [CreatedAt]) VALUES (1, N'Admin Min Khant', N'admin@wedding.com', N'admin_hash_123', N'Admin', N'09111111111', CAST(N'2026-05-15T09:25:04.603' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PasswordHash], [Role], [Phone], [CreatedAt]) VALUES (2, N'Ma Su Su', N'susu@mail.com', N'customer_hash_456', N'Customer', N'09222222222', CAST(N'2026-05-15T09:25:33.190' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PasswordHash], [Role], [Phone], [CreatedAt]) VALUES (3, N'Ko Kyaw Kyaw', N'kyawkyaw@mail.com', N'customer_hash_789', N'Customer', N'09333333333', CAST(N'2026-05-15T09:25:58.713' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendors] ON 

INSERT [dbo].[Vendors] ([VendorID], [UserID], [BusinessName], [Description], [ProfilePictureURL], [IsApproved]) VALUES (1, 4, N'Ko Zaw Photography', N'Professional Wedding & Event Photographer', NULL, 1)
INSERT [dbo].[Vendors] ([VendorID], [UserID], [BusinessName], [Description], [ProfilePictureURL], [IsApproved]) VALUES (2, 5, N'Ma Bella Makeup Studio', N'Bridal & Celebrity Makeup Specialist', NULL, 1)
INSERT [dbo].[Vendors] ([VendorID], [UserID], [BusinessName], [Description], [ProfilePictureURL], [IsApproved]) VALUES (3, 6, N'Ko Sai Cinematic Photo', N'Expert in Cinematic Wedding Portraits', NULL, 1)
SET IDENTITY_INSERT [dbo].[Vendors] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534C918DF2D]    Script Date: 5/18/2026 2:48:22 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdminLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaidAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Vendors] ADD  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[AdminLogs]  WITH CHECK ADD  CONSTRAINT [FK_AdminLog_User] FOREIGN KEY([AdminID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AdminLogs] CHECK CONSTRAINT [FK_AdminLog_User]
GO
ALTER TABLE [dbo].[Availability]  WITH CHECK ADD  CONSTRAINT [FK_Avail_Vendor] FOREIGN KEY([VendorID])
REFERENCES [dbo].[Vendors] ([VendorID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Availability] CHECK CONSTRAINT [FK_Avail_Vendor]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Booking_Customer]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Package] FOREIGN KEY([PackageID])
REFERENCES [dbo].[Packages] ([PackageID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Booking_Package]
GO
ALTER TABLE [dbo].[Packages]  WITH CHECK ADD  CONSTRAINT [FK_Package_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Packages] CHECK CONSTRAINT [FK_Package_Service]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payment_Booking]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Review_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Review_Booking]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Service_Vendor] FOREIGN KEY([VendorID])
REFERENCES [dbo].[Vendors] ([VendorID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Service_Vendor]
GO
ALTER TABLE [dbo].[Vendors]  WITH CHECK ADD  CONSTRAINT [FK_Vendor_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vendors] CHECK CONSTRAINT [FK_Vendor_User]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='Confirmed' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([PaymentType]='Remaining' OR [PaymentType]='Full' OR [PaymentType]='Deposit'))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([PaymentMethod]='Cash' OR [PaymentMethod]='BankTransfer' OR [PaymentMethod]='WaveMoney' OR [PaymentMethod]='KBZPay'))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([PaymentStatus]='Failed' OR [PaymentStatus]='Success' OR [PaymentStatus]='Pending'))
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Customer' OR [Role]='Vendor' OR [Role]='Admin'))
GO
